.bookList {
  background: #864C05;
  width: 75%;
  margin: 5px auto 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 0.5fr));
  grid-gap: 20px;
  box-sizing: border-box;
  height: 100rem;
}